In [ ]:
## read column names
# print(nr.columns)

## read each column
# print(nr['food_type'])

## read each row
# print(nr.iloc[0:4])
# nr.loc[nr['food_type']=="CHEESE"]

## read a specific location (x,y)
# print(nr.iloc[2,1])

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
csv_path = "nutrient_retention_clean.csv"

In [59]:
nr=pd.read_csv(csv_path)

In [60]:
nr

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
0,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
1,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,303,Iron,100.0
2,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,304,Magnesium,100.0
3,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,305,Phosphorus,100.0
4,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,306,Potassium,100.0
...,...,...,...,...,...,...,...,...,...,...,...
6961,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,321,"Carotene, beta",90.0
6962,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,322,"Carotene, alpha",90.0
6963,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,334,"Cryptoxanthin, beta",90.0
6964,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,337,Lycopene,90.0
6965,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,338,Lutein + zeaxanthin,90.0

In [100]:
ca=nr.loc[nr['nutrient_desc']=='Calcium']
ca.head(7)

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
0,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0

In [111]:
print(nr['retn_factor']=='70.0')

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: retn_factor, dtype: bool