In [ ]:
## read column names
# print(nr.columns)

## read each column
# print(nr['food_type'])

## read each row
# print(nr.iloc[0:4])
# nr.loc[nr['food_type']=="CHEESE"]

## read a specific location (x,y)
# print(nr.iloc[2,1])

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
csv_path = "nutrient_retention_clean.csv"

In [38]:
nr=pd.read_csv(csv_path)

In [39]:
nr

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
0,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
1,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,303,Iron,100.0
2,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,304,Magnesium,100.0
3,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,305,Phosphorus,100.0
4,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,306,Potassium,100.0
...,...,...,...,...,...,...,...,...,...,...,...
6961,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,321,"Carotene, beta",90.0
6962,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,322,"Carotene, alpha",90.0
6963,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,334,"Cryptoxanthin, beta",90.0
6964,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,337,Lycopene,90.0
6965,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,338,Lutein + zeaxanthin,90.0

In [40]:
ca=nr.loc[nr['nutrient_desc']=='Calcium']
ca.head(7)

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
0,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
26,3,1,CHEESE,NaN,BROILED,NaN,NaN,NaN,301,Calcium,100.0
52,5,1,CHEESE,NaN,COOKED,NaN,W/LIQUID,NaN,301,Calcium,100.0
78,7,1,CHEESE,NaN,REHEATED,NaN,NaN,NaN,301,Calcium,100.0
104,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
130,103,1,EGGS,NaN,FRIED,SCRAMBLED,NaN,NaN,301,Calcium,100.0
156,105,1,EGGS,NaN,HARD COOKED,NaN,NaN,NaN,301,Calcium,100.0

In [41]:
eggs=nr.loc[nr['food_type']=='EGGS']
eggs.head(7)

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
104,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
105,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,303,Iron,100.0
106,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,304,Magnesium,100.0
107,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,305,Phosphorus,100.0
108,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,306,Potassium,100.0
109,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,307,Sodium,100.0
110,101,1,EGGS,NaN,BAKED,NaN,NaN,NaN,309,Zinc,100.0

In [50]:
nr[nr['retn_factor']==100.0]

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
0,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
1,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,303,Iron,100.0
2,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,304,Magnesium,100.0
3,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,305,Phosphorus,100.0
4,1,1,CHEESE,NaN,BAKED,NaN,NaN,NaN,306,Potassium,100.0
...,...,...,...,...,...,...,...,...,...,...,...
6946,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,309,Zinc,100.0
6951,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,406,Niacin,100.0
6956,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,421,"Choline, total",100.0
6957,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,418,Vitamin B-12,100.0
6960,433,20,RICE,WHITE/BROWN,SAUTEED,SIMMERED,NaN,NaN,221,"Alcohol, ethyl",100.0

In [58]:
frozen=nr[nr['food_desc']=='FROZEN']
frozen
# frozen[frozen['retn_factor']>=90.0]

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
1092,156,9,FRUITS,FROZEN,NaN,NaN,NaN,NaN,301,Calcium,95.0
1093,156,9,FRUITS,FROZEN,NaN,NaN,NaN,NaN,303,Iron,100.0
1094,156,9,FRUITS,FROZEN,NaN,NaN,NaN,NaN,304,Magnesium,100.0
1095,156,9,FRUITS,FROZEN,NaN,NaN,NaN,NaN,305,Phosphorus,100.0
1096,156,9,FRUITS,FROZEN,NaN,NaN,NaN,NaN,306,Potassium,90.0
...,...,...,...,...,...,...,...,...,...,...,...
4518,2605,15,FINFISH,FROZEN,HEATED,NaN,NaN,NaN,321,"Carotene, beta",90.0
4519,2605,15,FINFISH,FROZEN,HEATED,NaN,NaN,NaN,322,"Carotene, alpha",90.0
4520,2605,15,FINFISH,FROZEN,HEATED,NaN,NaN,NaN,334,"Cryptoxanthin, beta",90.0
4521,2605,15,FINFISH,FROZEN,HEATED,NaN,NaN,NaN,337,Lycopene,90.0
4522,2605,15,FINFISH,FROZEN,HEATED,NaN,NaN,NaN,338,Lutein + zeaxanthin,90.0

In [85]:
nr['food_type'].drop_duplicates()

0                      CHEESE
104                      EGGS
234                      MILK
338                   CHICKEN
572                    TURKEY
676                    CEREAL
728                   OATMEAL
780                    FRUITS
910            FRUITS(CITRUS)
962        FRUITS(NOT CITRUS)
1118                    BACON
1144              HAM(PICNIC)
1196                     PORK
1820            SAUSAGE(PORK)
1924                  SAUSAGE
1950          SAUSAGE(FRANKS)
2054                 POTATOES
2470            SWEETPOTATOES
2704                 TOMATOES
2782               VEG/GREENS
2964                VEG/OTHER
3198                VEG/ROOTS
3432                     NUTS
3536                     BEEF
4056                    LIVER
4108    ORGAN MEATS(NOTLIVER)
4212                  ALC BEV
4471                  FINFISH
4965      SEAFOOD/FROG/TURTLE
5251                SHELLFISH
5511                  LEGUMES
6005                     LAMB
6264                     VEAL
6602               FLOUR/MEAL
6732                    PASTA
6862                     RICE
Name: food_type, dtype: object

# Notes on Nutrient Retention factors
### <70
641 rows
### >=70
6301 rows
### =100
2601 rows

## Frozen (total = 234 rows)
### >= 90
199 rows

In [59]:
grouped = nr.groupby(by="cook_method_1")
grouped

In [60]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [61]:
grouped.groups

{'BAKED': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, ...], 'BAKED IN CASSEROLE': [2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521], 'BOILED': [2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, ...], 'BRAISED': [3822, 3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834, 3835, 3836, 3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853, 3854, 3855, 3856, 3857, 3858, 3859, 3860, 3861, 3862, 3863, 3864, 3865, 3866, 3867, 3868, 3869, 3870, 3871, 3872, 3873, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5011, 5012, 5013, 5014, 5015, 5016, 5069, 5070, 5071, 5072, 5073, 5074, 5075, 5076, 5077, 5078, 5079, 5080, 5081, 5082, 5083, 5084, 5085, 5086, 5087, 5088, 5089, 5090, ...], 'BROILED': [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, ...], 'BROWNED': [364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, ...], 'COOKED': [52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, ...], 'DRIED': [780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961], 'FLAMED': [4212, 4213, 4214, 4215, 4216, 4217, 4218, 4219, 4220, 4221, 4222, 4223, 4224, 4225, 4226, 4227, 4228, 4229, 4230, 4231, 4232, 4233, 4234, 4235, 4236, 4237], 'FRIED': [130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, ...], 'HARD COOKED': [156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181], 'HEATED': [234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 4497, 4498, 4499, 4500, 4501, 4502, 4503, 4504, 4505, 4506, 4507, 4508, 4509, 4510, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, ...], 'HOT LIQUID': [4290, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315], 'MASHED': [2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443], 'POACHED': [182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207], 'REHEATED': [78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, ...], 'ROASTED': [494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, ...], 'SAUTEED': [832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, ...], 'SIMMERED': [520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, ...], 'STEAMED': [3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167, 3168, 3169, 3170, 3171, 3380, 3381, 3382, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3401, 3402, 3403, 3404, 3405, 5277, 5278, 5279, 5280, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5290, 5291, 5292, 5293, 5294, 5295, 5296, 5297, 5298, 5299, 5300, 5301, 5302, 5485, 5486, 5487, 5488, 5489, 5490, 5491, 5492, 5493, 5494, 5495, 5496, 5497, 5498, 5499, 5500, 5501, 5502, 5503, 5504, 5505, 5506, ...], 'STEWED': [858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091], 'STIR FRY': [2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 3427, 3428, 3429, 3430, 3431], 'STORED OVERNIGHT': [4238, 4239, 4240, 4241, 4242, 4243, 4244, 4245, 4246, 4247, 4248, 4249, 4250, 4251, 4252, 4253, 4254, 4255, 4256, 4257, 4258, 4259, 4260, 4261, 4262, 4263], 'TOASTED': [6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731]}

In [66]:
grouped['retn_factor'].median().sort_values()

cook_method_1
BROWNED                75.0
BRAISED                80.0
SIMMERED               80.0
ROASTED                80.0
BOILED                 90.0
BROILED                90.0
DRIED                  90.0
STEWED                 90.0
FRIED                  90.0
STEAMED                90.0
SAUTEED                90.0
STIR FRY               95.0
COOKED                 95.0
MASHED                 95.0
BAKED                 100.0
HEATED                100.0
POACHED               100.0
HOT LIQUID            100.0
STORED OVERNIGHT      100.0
HARD COOKED           100.0
FLAMED                100.0
BAKED IN CASSEROLE    100.0
REHEATED              100.0
TOASTED               100.0
Name: retn_factor, dtype: float64

In [67]:
grouped['retn_factor'].mean().sort_values()

cook_method_1
BROWNED               78.689904
SIMMERED              81.422065
DRIED                 81.730769
ROASTED               82.115385
BRAISED               82.532051
STEWED                83.461538
BOILED                84.842657
SAUTEED               85.439560
BROILED               87.939560
FRIED                 88.575499
COOKED                90.985577
STEAMED               91.807692
POACHED               92.307692
HEATED                92.500000
MASHED                93.076923
BAKED                 93.456615
STIR FRY              93.461538
BAKED IN CASSEROLE    93.653846
HARD COOKED           93.846154
TOASTED               95.576923
REHEATED              98.624484
STORED OVERNIGHT      98.846154
FLAMED                99.038462
HOT LIQUID            99.423077
Name: retn_factor, dtype: float64

In [68]:
grouped2 = nr.groupby(by="cook_method_2")
grouped2

In [69]:
grouped2['retn_factor'].median().sort_values()

cook_method_2
FRIED            80.0
SIMMERED         80.0
BAKED            85.0
LITTLE WATER     90.0
WATER COVER      90.0
BROILED          95.0
BROWNED          95.0
SCRAMBLED       100.0
STUFFED         100.0
Name: retn_factor, dtype: float64

In [70]:
grouped2['retn_factor'].mean().sort_values()

cook_method_2
FRIED           75.544872
BAKED           79.252137
SIMMERED        83.136000
WATER COVER     87.948718
BROWNED         88.750000
LITTLE WATER    89.615385
BROILED         92.500000
SCRAMBLED       94.038462
STUFFED         95.384615
Name: retn_factor, dtype: float64

In [80]:
grouped3 = nr.groupby(by=["cook_method_1","cook_method_2"])
grouped3["retn_factor"].describe().sort_values(by="mean")

                             count       mean        std   min    25%    50%  \
cook_method_1 cook_method_2
BOILED        FRIED          156.0  75.544872  18.055235  25.0   65.0   80.0
              BAKED          208.0  78.149038  18.430229  25.0   65.0   85.0
BROWNED       SIMMERED       416.0  78.689904  15.732018  30.0   70.0   75.0
ROASTED       SIMMERED        52.0  80.480769  15.251474  40.0   70.0   80.0
BOILED        WATER COVER     78.0  87.948718  11.493530  55.0   85.0   90.0
DRIED         BAKED           26.0  88.076923  12.415871  60.0   85.0   90.0
BOILED        BROWNED         52.0  88.750000  16.799714  25.0   90.0   95.0
SAUTEED       SIMMERED        26.0  88.846154  12.985199  60.0   90.0   90.0
BOILED        LITTLE WATER    26.0  89.615385   9.265320  70.0   90.0   90.0
FRIED         BROILED         26.0  92.500000   9.300538  70.0   90.0   95.0
              SCRAMBLED       26.0  94.038462   9.167249  75.0   87.5  100.0
BAKED         STUFFED         26.0  95.384615   7.864233  80.0   95.0  100.0
              SIMMERED       131.0  97.175573  14.386148  10.0  100.0  100.0

                               75%    max
cook_method_1 cook_method_2
BOILED        FRIED           85.0  100.0
              BAKED           90.0  100.0
BROWNED       SIMMERED        95.0  100.0
ROASTED       SIMMERED       100.0  100.0
BOILED        WATER COVER     95.0  100.0
DRIED         BAKED          100.0  100.0
BOILED        BROWNED        100.0  100.0
SAUTEED       SIMMERED       100.0  100.0
BOILED        LITTLE WATER    95.0  100.0
FRIED         BROILED        100.0  100.0
              SCRAMBLED      100.0  100.0
BAKED         STUFFED        100.0  100.0
              SIMMERED       100.0  100.0

In [82]:
grouped["retn_factor"].describe().sort_values(by="mean")

,count,mean,std,min,25%,50%,75%,max
cook_method_1,,,,,,,,
BROWNED,416.0,78.689904,15.732018,30.0,70.00,75.0,95.0,100.0
SIMMERED,988.0,81.422065,15.022003,30.0,75.00,80.0,95.0,100.0
DRIED,52.0,81.730769,21.141090,20.0,60.00,90.0,100.0,100.0
ROASTED,260.0,82.115385,12.417533,40.0,75.00,80.0,95.0,100.0
BRAISED,156.0,82.532051,14.429996,35.0,75.00,80.0,95.0,100.0
STEWED,52.0,83.461538,16.073924,50.0,75.00,90.0,100.0,100.0
BOILED,1144.0,84.842657,15.865844,25.0,80.00,90.0,95.0,100.0
SAUTEED,182.0,85.439560,15.080783,30.0,75.00,90.0,100.0,100.0
BROILED,546.0,87.939560,11.660881,30.0,80.00,90.0,100.0,100.0
FRIED,702.0,88.575499,10.899325,45.0,80.00,90.0,100.0,100.0
COOKED,416.0,90.985577,12.553108,30.0,90.00,95.0,100.0,100.0
STEAMED,130.0,91.807692,8.117448,70.0,90.00,90.0,100.0,100.0
POACHED,26.0,92.307692,10.220643,75.0,81.25,100.0,100.0,100.0
HEATED,104.0,92.500000,13.563944,30.0,90.00,100.0,100.0,100.0
MASHED,26.0,93.076923,8.952868,75.0,95.00,95.0,100.0,100.0
BAKED,703.0,93.456615,11.303910,10.0,90.00,100.0,100.0,100.0
STIR FRY,78.0,93.461538,6.561779,80.0,90.00,95.0,100.0,100.0
BAKED IN CASSEROLE,52.0,93.653846,8.972473,75.0,90.00,100.0,100.0,100.0
HARD COOKED,26.0,93.846154,9.413574,75.0,87.50,100.0,100.0,100.0
TOASTED,26.0,95.576923,6.217222,80.0,95.00,100.0,100.0,100.0
REHEATED,727.0,98.624484,2.783383,70.0,100.00,100.0,100.0,100.0
STORED OVERNIGHT,26.0,98.846154,5.883484,70.0,100.00,100.0,100.0,100.0
FLAMED,26.0,99.038462,4.902903,75.0,100.00,100.0,100.0,100.0
HOT LIQUID,26.0,99.423077,2.941742,85.0,100.00,100.0,100.0,100.0

In [90]:
rootveg=nr.loc[nr['food_type']=='VEG/ROOTS']
rootveg[rootveg['cook_method_1']=="BAKED"]

,retn_code,foodgrp_code,food_type,food_desc,cook_method_1,cook_method_2,cook_method_addon,cook_time,nutrient_num,nutrient_desc,retn_factor
3198,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,301,Calcium,100.0
3199,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,303,Iron,100.0
3200,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,304,Magnesium,100.0
3201,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,305,Phosphorus,100.0
3202,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,306,Potassium,100.0
3203,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,307,Sodium,100.0
3204,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,309,Zinc,100.0
3205,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,312,Copper,100.0
3206,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,401,"Vitamin C, total ascorbic acid",75.0
3207,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,404,Thiamin,90.0
3208,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,405,Riboflavin,95.0
3209,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,406,Niacin,95.0
3210,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,415,Vitamin B-6,95.0
3211,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,417,"Folate, total",80.0
3212,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,431,Folic acid,80.0
3213,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,432,"Folate, food",80.0
3214,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,421,"Choline, total",100.0
3215,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,418,Vitamin B-12,100.0
3216,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,318,"Vitamin A, IU",95.0
3217,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,392,"Vitamin A, RE",95.0
3218,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,221,"Alcohol, ethyl",100.0
3219,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,321,"Carotene, beta",95.0
3220,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,322,"Carotene, alpha",95.0
3221,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,334,"Cryptoxanthin, beta",95.0
3222,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,337,Lycopene,95.0
3223,3451,11,VEG/ROOTS,NaN,BAKED,NaN,NaN,NaN,338,Lutein + zeaxanthin,95.0